
@{
    ViewBag.Title = "UnnecessaryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<EczaneMesaj.Models.Tbl_Message>
@{
    ViewBag.Title = "DeleteList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="row">
        @Html.Action("SideBard", "Message")
        <div class="col-md-9">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Gereksiz Mesaj Kutusu</h3>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive mailbox-messages">
                        <table id="tbl1" class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Mesajı Yollayan Kişi</th>
                                    <th>Tarih</th>
                                    <th>Durum</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="mailbox-name"><a href="~/Message/UnByID/@item.MessageID">@item.Tbl_User.Name  <img width="50" height="50" src="@item.Tbl_User.Image" /></a></td>
                                        <td class="mailbox-date">@(((DateTime) item.MessageDate).ToString("f"))</td>
                                        <td><a href="~/Message/StatusUn/@item.MessageID"><span class="badge bg-success float-right">GEREKSİZDEN ÇIKAR MESAJI</span></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $('#tbl1').DataTable(
        {
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.20/i18n/Turkish.json"
            }
        }
    );
</script>