@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>HATA SAYFASI</title>
    <meta charset="UTF-8">
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/web404/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dancing+Script:400,700&amp;subset=latin-ext,vietnamese" rel="stylesheet">
</head>
<body style="background-image: url(https://i.hizliresim.com/1mmqwdj.jpg); background-repeat: no-repeat; background-size: 100% auto ">
    <div class="animating-bg"></div>
    <div class="main-heading">
        <h3>Hata Sayfası</h3>
    </div>
    <div class="main">
        <h1>404</h1>
        <h2>ooops, Hata İle Karşılaşıldı !!</h2>
        <div class="more_w3ls">
            <a href="~/Login/Log/">Giriş Ekranına Git</a>
        </div>
        <div class="copyright">
            <p>© @DateTime.Now.Year | Design by <a  target="_blank" href="https://bsite.net/TekcomBilgisayar/">DOĞUKAN KOŞAN</a></p>
        </div>
    </div>
</body>
</html>